docutils >= 0.16
graphviz >= 0.14
Grid2Op == 1.12.1
lightsim2grid == 0.10.3
networkx >= 2.4
numpy == 2.3.3
pandapower >= 2.2.2
scipy == 1.16.2
pandas >= 1.0.4
pathlib >= 1.0.1
pydot >= 1.4.1
matplotlib >= 3.3.3
pytest >= 4.4.2
Sphinx >= 3.1.2
rustworkx >= 0.17

